body {
    font-family: Arial, Verdana;
}

h1 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 32px;
}
  
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 24px;
}
b {
    font-size: 130%;
}